<div class="footer">
  <div class="centreBottom">
    <a href="https://www.facebook.com/Matched-110414507332239">
      <img src="/assets/facebook-logo.webp" alt="" class="footer-logo">
      Matched
    </a>
    <a href="https://twitter.com/MatchedMyID">
      <img src="/assets/twitter-logo.webp" alt="" class="footer-logo">
      @MatchedMyID
    </a>
    <a href="https://instagram.com/official.matched?igshid=1b4m2zg5d0qcp">
      <img src="/assets/instagram-logo.jpeg" alt="" class="footer-logo">
      @official.matched
    </a>
  </div>

  <div class="centreRight">
    Copyright &copy; 2020
  </div>
</div>
