@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    background-color: #4BADFF;
    font-family: 'Lato', sans-serif;
}

div.containerFull {
    width: 100%;
    height: 100%;
}

div.centreMiddle {
    position: fixed;
    top: 50%;
    width: 100vw;
    transform: translateY(-50%);
    text-align: center;
}
div.centreBottom {
    position: fixed;
    padding: 5px;
    width: 100vw;
    bottom: 0%;
    text-align: center;
    color: #505050;
}

div.description {
    margin: 30px;
    padding: 5px;
}

h1 {
    font-size: 3.5vw;
    margin: 0px;
    color: #000000;
}

img {
    max-height: 30vh;
    max-width: 60vw;
}

a {
    color: #000000;
    font-weight: bold;
}
