<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.my.avmmartin.matched">

    <application
        android:name=".Matched"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.account.login.LoginActivity" />
        <activity android:name=".ui.account.register.RegisterActivity" />
        <activity android:name=".ui.account.view.AccountActivity" />
        <activity android:name=".ui.approve.add.AddApproval" />
        <activity android:name=".ui.approve.pending.PendingApprovalActivity" />
        <activity android:name=".ui.chat.details.ChatDetailsActivity" />
        <activity android:name=".ui.chat.view.ChatListActivity" />
        <activity android:name=".ui.schedule.add.AddActivity" />
        <activity android:name=".ui.schedule.edit.EditScheduleActivity" />
        <activity android:name=".ui.schedule.free.FreeScheduleActivity" />
        <activity android:name=".ui.schedule.view.Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
